.sidebar
  min-height 1px 
  float left 
  width 260px

  &__list
    margin 0
    padding 0
    list-style none
    font-size (18/14)*1em

  &__item
    padding 5px 0
    margin-bottom 5px

  &__all
    padding 10px 0
    color #333
    font-weight 700
    font-size (20/14)*1em