.variant
  padding 10px 20px
  margin-bottom 50px

  &:hover
    background #c9bfbf

  &__info
    width 160px
    float left

  &__sizes
    float left
    padding 60px 0 0

  &__title
    color #222
    font-size 1.5em
    margin-bottom 20px

  &__overall
    float left
    padding 125px 0 0