@import "_vars"
@import "_mixins"

/* Шрифты */
@import "_fonts"

/* Normalize */
@import "_normalize"

/* Глобальные стили */
@import "_globals"

/* Обвязка */
@import "_page"

/* Шапка */
@import "_header"

/* Основной контент */
@import "_main"

/* Боковое меню */
@import "_sidebar"

/* Контент */
@import "_content"

/* Блок продукта */
@import "_product"

/* Одна из рацветок продукта */
@import "_variant"

/* Размер */
@import "_size"

/* Подвал */
@import "_footer"

/* Форма */
@import "_form"

/* Responsive */
@import "_responsive"